.home {
    height: 100vh;
    position: relative;
}

.home-box {
    position: relative;
    width: 70%;
    top: 25%;
    left: 15%;
}

.tittle-animation-loop {
    font-size: 5.5rem;
    line-height: 5.5rem;
    font-weight: 700;
}

.home-button {
    position: inherit;
    top: 33%;
    left: 20%;
    width: 15%;
    padding: 20px;
}