.skills {
  height: 100vh;
  display: flex;
}

.skills-box {
  width: 45%;
  margin: auto;
  border-radius: 15px;
  border: 2px solid #08fdd8;
  background-color: #1d1d1d;
}

.skills-box-header {
  display: flex;
  padding: 10px 0;
}

.skills-tittle {
  font-size: 2rem;
  white-space: nowrap;
}

.skills-line {
  background-color: #fafafa;
  margin: auto 2rem;
  width: 100%;
  height: 1px;
}

.skills-text {
  margin: 2rem;
}

.skills-tech {
  width: 35%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #08fdd8;
  background-color: #1d1d1d;
}

.skills-tech-header {
  display: flex;
  padding: 10px 0;
}

.skills-subtittle {
  font-size: 1.5rem;
  white-space: nowrap;
}

.skills-list-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.skills-list {
  text-align: center;
}

.skills-itens {
  padding: 10px;
  list-style: none;
}

.techs:hover {
  color: #08fdd8;
}

.skills-link {
  text-decoration: none;
  color: #08fdd8;
}
