.skills {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.skills-box {
    width: 40%;
    height: 50%;
    margin-top: 10%;
    padding: 20px 0;
    border-radius: 10px;
    border: 2px solid #08FDD8;
    background-color: #1d1d1d;
}

.skills-box-header {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.skills-tittle {
    font-size: 2rem;
    margin: auto;
    white-space: nowrap;
}

.skills-line {
    background-color: #fafafa;
    margin: auto 2rem auto 2rem;
    width: 100%;
    height: 1px;
}

.skills-text {
    margin: 1rem 2rem ;
}

.skills-tech {
    width: 35%;
    height: 40%;
    margin-top: 20%;
    border-radius: 10px;
    border: 2px solid #08FDD8;
    background-color: #1d1d1d;
}

.skills-tech-header {
    display: flex;
    height: 15%;
}

.skills-subtittle{
    white-space: nowrap;
    margin: auto;
}

.skills-list-box{
    display: flex;
    justify-content: space-around;
    height: 88%;
    width: 100%;
}

.skills-list{
    width: 35%;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
    margin-top: 1rem;
}

.skills-itens {
    margin: 1rem 2rem 0 2rem;
}

.techs:hover {
    color: #08FDD8;
}

.skills-link {
    text-decoration: none;
    color: #08FDD8;
}
