.skills {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.skills-box {
    position: relative;
    width: 40%;
    height: 50%;
    padding: 20px 0;
    top: 13%;
    left: 10%;
    border-radius: 10px;
    border: 2px solid #08FDD8;
    background-color: #1d1d1d;
}

.skills-box-header {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    padding: 15px;
    justify-content: center;
}

.skills-tittle {
    font-size: 2rem;
    margin: auto;
    white-space: nowrap;
}

.skills-line {
    background-color: #fafafa;
    margin: auto 2rem auto 2rem;
    width: 100%;
    height: 1px;
}

.skills-text {
    margin: 1rem 2rem 1rem 2rem;
}

.skills-tech {
    display: flex;
    position: relative;
    padding: 20px 0;
    width: 35%;
    height: 40%;
    top: 33%;
    right: 10%;
    border-radius: 10px;
    flex-wrap: wrap;
    border: 2px solid #08FDD8;
    background-color: #1d1d1d;
}

.skills-tech-header {
    display: flex;
    width: 100%;
    height: 12%;
}

.skills-line{
    background-color: #fafafa;
    margin: auto 2rem auto 2rem;
    width: 100%;
    height: 1px;
}

.skills-subtittle{
    white-space: nowrap;
    margin: auto;
}

.skills-list{
    /* display: flex;
    justify-content: space-around; */
    width: 100%;
}

.list{
    width: 35%;
    white-space: nowrap;
}

.skills-itens {
    width: 40%;
    margin: 1rem 2rem 0 2rem;
}

.techs:hover {
    color: #08FDD8;
}