
.header {
    display: flex;
    height: 6vh;
    justify-content: space-between;
}
.menu {
    margin: auto 1rem;
}

.button-menu {
    position: relative;
    width: 80px;
    height: 30px;
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #fafafa;
    background: none;
    border: none;
    cursor: pointer;
}

.button-menu::after {
    content: "";
    position: absolute;
    background-color: #08FDD8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.button-menu:hover {
    transition: 0.3s;
    color: #08FDD8;
}

.button-menu:hover::after {
    width: 100%;
}

.menu-language {
    margin: auto 1rem;
}

.language {
    font-size: 1.2rem;
    margin: 0 1rem;
}
