
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

.sticky {
    padding: 15px 100px;
    background: #fafafa;
}

.menu-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item {
    position: relative;
    list-style: none;
}

.button-menu {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fafafa;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    cursor: pointer;
}

.button-menu::after {
    content: "";
    position: absolute;
    background-color: #08FDD8;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.button-menu:hover {
    transition: 0.5s;
    color: #08FDD8;
}

.button-menu:hover::after {
    width: 100%;
}

.language {
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 500px;
    margin: 0 15px;
}

.header.sticky .menu-language .language,
.header.sticky .menu-list .menu-item .button-menu {
    color: black;
}