.social {
    position: fixed;
    left: 1%;
    bottom: 0%;
    display: flex;
    text-align: center;
    flex-direction: column;
    display: flex;
    color: #08FDD8;
    width: 50px;
}

.box-icons {
    display: flex;
    justify-content: center;
    color: #fafafa;
    margin: 0.5rem auto;
    cursor: pointer;
    width: 30px;
    height: 35px;
    transition: 0.3s;
}

.icons {
    margin: auto;
}

.box-icons:hover {
    color: #08FDD8;
    translate: 0 -5px;
}

.barra {
    background-color: #fafafa;
    width: 2px;
    height: 150px;
    margin: 0.5rem auto 0;
}


