.about {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.about .about-box {
    position: relative;
    top: 13%;
    left: 15%;
    width: 35%;
    height: 80%;
    border: 1px solid #08FDD8;
}

.about .about-box .about-box-header {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    height: 10%;
}

.about .about-box .about-box-header .about-tittle {
    font-size: 2.5rem;
    margin: auto 2rem auto 2rem;
}

.about .about-box .about-box-header .about-line {
    background-color: #fafafa;
    margin: auto 2rem auto 0;
    width: 100%;
    height: 1px;
}

.about .about-box .about-text {
    margin: 1rem 2rem 1rem 2rem;
}

.about .about-image {
    position: relative;
    top: 13%;
    right: 15%;
    width: 34%;
    height: 80%;
    border: 1px solid #08FDD8;
}

.about .about-image .about-tittle {
    margin: auto;
}