.home {
  height: 100vh;
  flex-wrap: wrap;
}

.tittle-animation-loop:first-child {
  margin-top: 18%;
  margin-left: 10%;
  font-size: 3.5rem;
  line-height: 4rem;
}

.tittle-animation-loop:last-child {
  margin-left: 10%;
  font-size: 3.5rem;
  line-height: 4rem;
}

.box-slogan {
  max-width: 60%;
  width: 40%;
  padding: 10px 15px;
  flex-wrap: wrap;
  text-align: center;
  margin: 5% auto;
}

.slogan {
  padding: 10px 0;
}

/* @media screen and (min-width: 375px) {

    .home-box {
        width: 80%;
        height: 40%;
        margin-top: 20%;
    }
    
    .tittle-animation-loop {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .box-slogan {
        width: 70%;
        height: 20%;
    }

    .slogan {
        height: 50%;
    }
}

@media screen and (min-width: 393px) { 

    .box-slogan {
        height: 15%;
    }

    .tittle-animation-loop {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    .slogan {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 540px) { 
    
    .home-box {
        margin-top: 15%;
    }

    .tittle-animation-loop {
        font-size: 3.7rem;
        line-height: 3.7rem;
    }
}

@media screen and (min-width: 768px) { 
    
    .tittle-animation-loop {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .box-slogan {
        height: 10%;
    }

    .slogan {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 820px) { 

    .home-box {
        margin-top: 25%;
    }
}

@media screen and (min-width: 1024px) { 

    .home-box {
        margin-top: 15%;
    }

    .box-slogan {
        height: 15%;
    }

    .tittle-animation-loop {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}

@media screen and (min-width: 1367px) { 

    .tittle-animation-loop {
        font-size: 4rem;
        line-height: 4rem;
    }
} */
