.home {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.home-box {
    width: 70%;
    height: 300px;
    margin-top: 13%;
    margin-left: 10%;
}

.box-slogan {
    width: 40%;
    height: 15%;
    margin-left: 15%;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width: 375px) {

    .home-box {
        width: 80%;
        height: 40%;
        margin-top: 20%;
    }
    
    .tittle-animation-loop {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .box-slogan {
        width: 70%;
        height: 20%;
    }

    .slogan {
        height: 50%;
    }
}

@media screen and (min-width: 393px) { 

    .box-slogan {
        height: 15%;
    }

    .tittle-animation-loop {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    .slogan {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 540px) { 
    
    .home-box {
        margin-top: 15%;
    }

    .tittle-animation-loop {
        font-size: 3.7rem;
        line-height: 3.7rem;
    }
}

@media screen and (min-width: 768px) { 
    
    .tittle-animation-loop {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .box-slogan {
        height: 10%;
    }

    .slogan {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 820px) { 

    .home-box {
        margin-top: 25%;
    }
}

@media screen and (min-width: 1024px) { 

    .home-box {
        margin-top: 15%;
    }

    .box-slogan {
        height: 15%;
    }

    .tittle-animation-loop {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}

@media screen and (min-width: 1280px) { 

    .tittle-animation-loop {
        font-size: 4rem;
        line-height: 4rem;
    }
}
