.skills {
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}

.skills-box {
    padding: 10% 5%;
    width: 40%;
}

.skills-title {
    font-size: 6rem;
}

.skills-image {
    padding: 10% 5%;
    width: 40%;
}