.modal {
    width: 100%;
    display: flex;
}

.modal-box {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 60%;
    margin: auto;
    background-color: #1D1D1D;
    border: 2px solid #08FDD8;
    border-radius: 15px;
}

.content {
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.box-button-modal {
    height: 15%;
    width: 100%;
    display: flex;
}

.close-modal {
    border: none;
    background: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fafafa;
    width: 50%;
    height: 70%;
    margin: auto;
    border: 2px solid #08FDD8;
    border-radius: 15px 0;
}

.close-modal:hover {
   background-color: #08fdd80e;
}

.social-modal {
    width: 80%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
}

.box-icons-modal {
    color: #fafafa;
    margin: 0.5rem auto;
    cursor: pointer;
    width: 30px;
    height: 35px;
    transition: 0.3s;
}

.box-icons-modal:hover {
    color: #08FDD8;
    translate: 0 -5px;
}


